language: erlang
before_install:
  - wget http://launchpadlibrarian.net/130794928/libc6_2.17-0ubuntu4_amd64.deb
  - sudo dpkg --force-all -i libc6_2.17-0ubuntu4_amd64.deb 
script:
  - cd scripts
  - sudo bash build_all.sh
